@import "tailwindcss";
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  caret-color: #fff !important;
  -webkit-box-shadow: 0 0 0 1000px oklch(0.373 0.034 259.733) inset !important;
  box-shadow: 0 0 0 1000px oklch(0.373 0.034 259.733) inset !important;
  -webkit-text-fill-color: #fff !important;
  color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}